body {
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 7%, 63%);
}

button.btnPill {
    background-color: hsl(180, 66%, 49%) !important;    
    border-radius: 15px !important;
    color: white !important;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

button.btnPill:hover {
    background-color: #008B8B !important;
    color: white !important;
}

a.nav-link {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(257, 7%, 63%) !important;
}

ul li a.nav-link:hover {    
    color: white !important;
    background-color: hsl(257, 27%, 26%) !important;
}

h1.titleIntro {
    color: hsl(260, 8%, 14%);
    font-weight: 700;
    font-size: 4rem;
}

p.contentIntro {
    color: hsl(257, 7%, 63%);
    font-size: 1rem;
    font-weight: 500;
}

div.linkShorten {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-color: hsl(257, 27%, 26%);
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 5px;
}

